<div>
  <h1>Welcome to our app</h1>

  <!-- <code>User: {{ $ctrl.user || JSON }}</code><br/>
  <code>List: {{ $ctrl.users || JSON }}</code> -->
  <div style="width: 600px" class="border-primary">
    <form>
      <div class="form-row">
        <div class="col">
          <input
            name="firstName"
            type="text"
            class="form-control"
            placeholder="First name"
            ng-model="$ctrl.user.firstName"
            required
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            ng-model="$ctrl.user.lastName"
            required
          />
        </div>
        <div class="col">
          <button class="btn btn-primary" ng-click="$ctrl.add()">Add User</button>
        </div>
      </div>
    </form>
  </div>

  
  <userlist users="$ctrl.users" ></userlist>
</div>
