<div
  style="width: 800px; padding:20px; border:1px solid lightgray !important;"
  class="border-primary"
>
  <form name="$ctrl.form">
    <!-- <pre>{{ $ctrl.user || JSON }}</pre> -->

    <div class="form-row">
      <div class="col-sm-4">
        <input
          name="firstName"
          type="text"
          class="form-control"
          placeholder="First name"
          ng-minlength="2"
          ng-model="$ctrl.user.firstName"
          required
        />
        <error-message form="$ctrl.form" name="firstName"></error-message>
        
        <error-message field="$ctrl.form['firstName']"></error-message>
      </div>
      <div class="col-sm-4">
        <input
          name="lastName"
          type="text"
          class="form-control"
          placeholder="Last name"
          ng-maxlength="5"
          
          ng-model="$ctrl.user.lastName"
          required
        />
        <error-message field="$ctrl.form['lastName']"></error-message>
      </div>
      <div class="col">
        <button class="btn btn-primary" ng-click="$ctrl.addUser()">
          Add User
        </button>
      </div>
    </div>
  </form>
</div>
