<div style="margin:5%">
<h2>
    Lorem ipsum dolor sit amet consectetur!
</h2>
<div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ullam quam
  consequatur cupiditate totam at ipsa dolorem blanditiis voluptatum qui quidem
  itaque autem laboriosam architecto, voluptates placeat corporis ex atque.
  Nihil nam consequatur, quidem ipsum dolorem ipsam velit incidunt accusantium.
  Illo rerum delectus suscipit quia, tempore doloremque libero vitae animi fuga
  molestiae omnis iste deserunt voluptate vel, sunt, mollitia porro! Nesciunt
  eaque ipsa vero neque nemo laudantium, iure aperiam sit quam, dolorem quis,
  doloribus magni? Eos quasi aliquid voluptates sit ad unde dicta ut ab
  laboriosam tempora nam, dolor ex! Odio fugit praesentium illo unde suscipit
  dolorum atque autem nobis numquam excepturi dolore consequatur, quaerat,
  voluptatibus fugiat vero enim laudantium tempore necessitatibus. Dolor quasi
  sunt cumque commodi ratione error minima? Odit quis quidem reiciendis beatae
  non autem nostrum dolorum, alias natus.
</div>
</div>